h1, h2 {
    text-align: center;
}

.container {
    width: 100&;
    max-width: 80vw;
    margin: 0 auto;

    li {
        list-style: none;
        border: 1px solid purple;
        margin: 2rem 0;

        &.index-li {
            border-radius: 5rem;

            &:hover {
                background-color: lightsteelblue;
            }
        }

        img {
            width: 15vw;
        }

        p {
            text-align: justify;
        }
    }
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: purple;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.padding {
        justify-content: center;
    }
}

.padding {
    padding: 1rem;
}

.margin-top {
    margin-top: 4rem;
}

select, input, label {
    width: 10rem;
}

.mini-box {
    width: 20%;
}

.form {
    width: 100%;
}