h1,
h2 {
  text-align: center;
}

.container {
  width: 100 .container;
  max-width: 80vw;
  margin: 0 auto;
}

.container li {
  list-style: none;
  border: 1px solid purple;
  margin: 2rem 0;
}

.container li.index-li {
  border-radius: 5rem;
}

.container li.index-li:hover {
  background-color: lightsteelblue;
}

.container li img {
  width: 15vw;
}

.container li p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: purple;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex.padding {
  justify-content: center;
}

.padding {
  padding: 1rem;
}

.margin-top {
  margin-top: 4rem;
}

select,
input,
label {
  width: 10rem;
}

.mini-box {
  width: 20%;
}

.form {
  width: 100%;
}

